In [1]:
Names = ['James', 'Jane', 'Japhet', 'Jankz']
Age = (20,24,45,23,50)
Height = [1.2, 3.4, 5.9, 4.5, 6.0]

In [2]:
tab = {'Names': Names, 'Age': Age, 'Height': Height}

In [3]:
tab

{'Names': ['James', 'Jane', 'Japhet', 'Jankz'],
 'Age': (20, 24, 45, 23, 50),
 'Height': [1.2, 3.4, 5.9, 4.5, 6.0]}

In [4]:
tab.update?

In [5]:
import pandas as pd

In [6]:
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p14',
 '_np_version_under1p15',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [9]:
table = pd.DataFrame?

In [ ]:
table = pd.DataFrame

In [10]:
def func(a,b,c):
    '''
    This function adds two numbers 
    '''
    return (a + b)-c

In [13]:
func(4,3,6)

0

In [14]:
math.pi

NameError: name 'math' is not defined

In [15]:
import math

In [21]:
def diameter(r):
    return (2 * math.pi * r)

In [22]:
diameter(5)

31.41592653589793

In [25]:
def range(a,b,c):
    if a > b and c: 
        print (a)
    elif b > c:
        print (b)
    else:
        print (c)

In [26]:
range(9,1,5)

9

In [29]:
def sum(x):
    total = 0
    for i in x:
        total = total + i
    return total

In [30]:
sum([1,2,3,4,5,6])

21

In [33]:
def sum2(x):
    total = 0
    for i in x:
        total += i
    return total

In [34]:
sum2([1,2,3,5,7])

18

In [37]:
def mult(x):
    total = 1
    for i in x:
        total = total * i
    return total

In [38]:
mult([1,2,3,5,7])

210

In [39]:
def sum2(x):
    total = 1
    for i in x:
        total *= i
    return total

In [40]:
mult([1,2,3,5,7])

210